<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://artilhariagremista.files.wordpress.com/2019/02/0f33c-jardel2.jpg"
      alt=""
    />
  </div>
  <a href="#">
    <div class="big-card__title">
      <h1><a href="#">Titulo Big Card</a></h1>
    </div>
  </a>

  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque possimus
        sequi aut id deleniti corporis? Officia ducimus neque et, esse amet
        excepturi omnis, sit sint reiciendis ea quibusdam explicabo ut.
      </a>
    </p>
  </div>
</div>
