<div class="container__small-card">
  <div class="container__small-card__content">
    <div class="small-card__photo">
      <img
        src="https://lh3.googleusercontent.com/proxy/nAK6rAqvuRH5fceL2PXnm8NO3Bbr3nILA5K2ytgjUERqwjvVuRX2yeWme7wkDlSSMkFb52jDhA5o04wjzEOYuCgRlUCKmWWUd2IsbLlEQOTcYVq_xR54PFUymA"
        alt=""
      />
    </div>
    <div class="small-card__title">
      <h1>
        <a href="#"
          >Koff apresenta Felipão e reforça "desejo antigo" no Grêmio
        </a>
      </h1>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr />
  </div>
</div>
