.container__articles {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

@media screen and (max-width: 1024px) {
  .container__articles {
    flex-direction: column;
  }
}
