<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://i.ytimg.com/vi/jFQnvkO3UtE/maxresdefault.jpg"
      cardTitle="O INESQUECÍVEL GRE-NAL 407 (5X0)"
      cardDescription="Com gols de Giuliano, dois de Luan e um de Fernandinho, além de um contra do zagueiro ex-Grêmio Réver, vencemos e presenteamos os papais tricolores!"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="https://www.rbsdirect.com.br/imagesrc/15965046.jpg?w=1200&h=630&a=c&version=1575255600"
      cardTitle="Relembre os títulos que Fábio Koff conquistou com o Grêmio"
    ></app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://s2-ge.glbimg.com/_nefilBntp4pownEnsNfUqeyM7o=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2018/l/b/szDdajRbmvaS2C8flS6A/carlos-miguel-1997.jpg"
      cardTitle="'Maracanaço', goleadas e sete duelos pela Copa do Brasil"
    ></app-small-card>
    <app-small-card
      Id="4"
      photoCover="https://1.bp.blogspot.com/-dmlB55K8wdQ/YXRd32rxohI/AAAAAAAAHOc/4ePWqpqD4JM4SSIXZH4mnjDT975NufnAgCLcBGAsYHQ/s1140/1995.jpg"
      cardTitle="Grêmio Campeão da Libertadores 1995"
    ></app-small-card>
  </div>
</div>
